body{
	margin:0;
	padding:0;
}

html{
	margin:0;
}

a{
	text-decoration:none;

}


.navBar{
	float:left;
	width:100%;
	background:#444444;
}

.navLink{
	width:14vw;
	text-align:center;
	padding:2vw 0;
	/*padding-right:5vw;*/
	font-family: 'Lato', sans-serif;
	color:white;
	font-weight:500;
	cursor:pointer;
	font-size:1.2vw;
}


.right{
	float:right;
}

.left{
	float:left;
}

.navLink:hover{
	text-shadow:2px 2px 8px black;
}

.logo img{
	width:10vw;
	padding:2vh;
	padding-top:2.7vh;
	margin:auto 14vw;
	cursor:pointer;
	
}

.logo{
	float:left;
	width:40vw;

}





